.App {
  height: 100%;
}

.entry-container {
  font-size: 16px;

  display: flex;
  flex-direction: column;
  height: 100%;

  overflow-x: hidden;
}

.entry-container--large-font {
  font-size: 20px;
}

.header-bar-and-static-action-bar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.static-action-bar-divider {
  background-color: var(--base3);
  height: 1px;
}